@charset "utf-8";
a,body,html{color:#333;}a,a:focus,a:hover{text-decoration:none}body,button,html,input{outline:0;}body,html{-webkit-text-size-adjust:none;font-family:'Hiragino Sans GB','微软雅黑',arial,sans-serif}aside,figcaption,figure,footer,header,hgroup,nav,section{display:block;margin:0;padding:0;border:none}blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,select,textarea,ul{padding:0;margin:0;}h1,h2,h3,h4,h5,h6{font-weight:400;}li{list-style-type:none}img{border:none;pointer-events:none;}input{background:0 0;border:0;}textarea{resize:none}em,i{font-style:normal}table{word-wrap:break-word!important;border-collapse:collapse!important}a:focus,a:hover{outline:0;}p{word-wrap:break-word;word-break:normal}.fl{float:left}.fr{float:right}.m0{margin:0!important}.mt5{margin-top:0.25rem!important}.mt10{margin-top:0.5rem!important}.mt15{margin-top:0.75rem!important}.mt20{margin-top:1rem!important}.mt25{margin-top:1.25rem!important}.mr5{margin-right:0.25rem!important}.mr10{margin-right:0.5rem!important}.mr15{margin-right:0.75rem!important}.mr20{margin-right:1rem!important}.mr25{margin-right:1.25rem!important}.mb5{margin-bottom:0.25rem!important}.mb10{margin-bottom:0.5rem!important}.mb15{margin-bottom:0.75rem!important}.mb20{margin-bottom:1rem!important}.mb25{margin-bottom:1.25rem!important}.ml5{margin-left:0.25rem!important}.ml10{margin-left:0.5rem!important}.ml15{margin-left:0.75rem!important}.ml20{margin-left:1rem!important}.ml25{margin-left:1.25rem!important}.w01,.w02,.w03,.w04,.w05,.w07,.w08,.w09,.w10,.w11{margin-left:1.5%;}.p0{padding:0!important}.pt5{padding-top:0.25rem!important}.pt10{padding-top:0.5rem!important}.pt15{padding-top:0.75rem!important}.pt20{padding-top:1rem!important}.pt25{padding-top:1.25rem!important}.pr5{padding-right:0.25rem!important}.pr10{padding-right:0.5rem!important}.pr15{padding-right:0.75rem!important}.pr20{padding-right:1rem!important}.pr25{padding-right:1.25rem!important}.pb0{padding-bottom:0!important}.pb5{padding-bottom:0.25rem!important}.pb10{padding-bottom:0.5rem!important}.pb15{padding-bottom:0.75rem!important}.pb20{padding-bottom:1rem!important}.pb25{padding-bottom:1.25rem!important}.pl5{padding-left:0.25rem!important}.pl10{padding-left:0.5rem!important}.pl15{padding-left:0.75rem!important}.pl20{padding-left:1rem!important}.pl25{padding-left:1.25rem!important}.clearfix{zoom:1;}.clearfix:after{content:" ";display:block;clear:both;visibility:hidden;line-height:0;height:0;}.relative{position:relative}.norelative{position:inherit!important}.center{text-align:center}.overflow{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.overflow-d{display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;position:relative;line-height:1rem;max-height:2rem;overflow:hidden}.overflow-d:after{content:"...";position:absolute;bottom:0;right:0;padding-left:2rem;background:-webkit-linear-gradient(left,transparent,#fff 55%);background:-webkit-gradient(linear,left top, right top,from(transparent),color-stop(55%, #fff));background:linear-gradient(to right,transparent,#fff 55%)}.border-all{border:1px solid #000;-webkit-box-shadow:0 0 0.05rem 0.05rem #171e1b;box-shadow:0 0 0.05rem 0.05rem #171e1b;}.mask{display:none;position:fixed;left:0;right:0;top:0;bottom:0;background:#000;opacity:.5;z-index:10;}.w01{width:6.9533%;}.w02{width:15.416%;}.w03{width:23.875%;}.w04{width:32.333%;}.w05{width:40.766%;}.w06{margin-left:1.5%;width:49.25%;}.w07{width:57.673%;}.w08{width:66.126%;}.w09{width:74.579%;}.w10{width:83.033%;}.w11{width:91.486%;}.w01:first-child,.w02:first-child,.w03:first-child,.w04:first-child,.w05:first-child,.w06:first-child,.w07:first-child,.w08:first-child,.w09:first-child,.w10:first-child,.w11:first-child,.w12,.w12:first-child{margin-left:0;}.w12{width:100%;}.w50{width:50%;padding:0.75rem}.w01,.w02,.w03,.w04,.w05,.w06,.w07,.w08,.w09,.w10,.w11,.w12{float:left;position:relative}img{max-width:100%;max-height:100%;vertical-align:bottom}section{display:block}
html{height: 100%;}
body{background: #f7f7f7;font-size: 22px;min-height:100%;max-width: 1024px;margin: 0 auto;-webkit-overflow-scrolling: touch;}


video{max-width: 100%;}
a{display: inline-block;vertical-align: middle;}
*{box-sizing: border-box;}
.f-12{font-size: 12px;}
.f-red{color: #ec3b3b !important;}
.f-blue{color: #5a7af6 !important;;}
.f-gray{color: #919191 !important;;}
.f-green{color: #2ca935 !important;;}
.f-orange{color: #fe9e2d !important;}

.f-line{text-decoration:line-through;color: #aaa;}
.f-black{color: #333;}

.clip0{position: absolute;clip: rect(0, 0, 0, 0);}
.tagImg{pointer-events:initial;}
.text-center{text-align: center;}
.f-bold{font-weight: bold;}

.wrap{height: 100%;}
/*公用模块*/
.g-top{padding-bottom: 2.5rem;}
/*公用底部*/
.g-footer{position: fixed;left: 0;bottom: 0;width: 100%;-webkit-box-shadow: 0.125rem -0.216506rem 0.6rem rgba(51, 51, 51, 0.2);box-shadow: 0.125rem -0.216506rem 0.6rem rgba(51, 51, 51, 0.2);height: 2.5rem;display: flex;padding: 0 .5rem;align-items: center;justify-content: center;text-align: center;font-size: .7rem;background: #fff;z-index: 1;}
.g-footer .g-col a{display: block;margin:0 auto;}
.g-two-btn-box .g-btn{width: 50%; float: left; border-radius: 1rem 0 0 1rem; background: #7b87fd; } .g-two-btn-box .g-btn+.g-btn{border-radius: 0 1rem 1rem 0; background: #6d6cfc; } .g-flex{display: flex;align-content: center;justify-content: center;}
.g-col{-webkit-box-flex: 1;-moz-flex: 1;-ms-flex: 1;flex: 1;display: block;width: 100%;}
.g-col2{-webkit-box-flex:2;-moz-flex: 2;-ms-flex: 2;flex: 2;display: block;width: 100%;}
/*阴影*/
.box-shadow-bottom {box-shadow: 0.125rem 0.216506rem 0.6rem rgba(51, 51, 51, 0.1);}
.box-shadow-top{-webkit-box-shadow: 0.125rem -0.216506rem 0.6rem rgba(51, 51, 51, 0.2);box-shadow: 0.125rem -0.216506rem 0.6rem rgba(51, 51, 51, 0.2);}
/*卡片样式*/
.g-card{padding: .5rem;position: relative;border-radius: 6px;background: #fff;box-shadow: 0.125rem 0.216506rem 0.6rem rgba(51, 51, 51, 0.1);}
.g-card+.g-card{margin-top: .5rem;}
/*渐变色的按钮-主要*/
.g-btn{color: #fff;width: 100%;height: 2rem;line-height: 2rem;background: -webkit-linear-gradient(left, #7757a0 , #ebabac); /* Safari 5.1 - 6.0 */background: -o-linear-gradient(right, #7757a0, #ebabac); /* Opera 11.1 - 12.0 */background: -moz-linear-gradient(right, #7757a0, #ebabac); /* Firefox 3.6 - 15 */background: linear-gradient(to right, #7757a0 , #ebabac); /* 标准的语法 */border-radius: 1rem;font-size: .7rem;text-align: center;letter-spacing: .25rem;}
/*边框型按钮*/
.g-btn-border{display: inline-block; vertical-align: middle; border: 1px solid #7d8dfe; color: #7d8dfe; padding: 0 1rem; line-height: 1.25rem; border-radius: 1rem; } 
.g-row{margin:.5rem;}
.g-low{margin:.5rem 0}
.g-title{position: relative;line-height: 1.75rem;border-bottom: 1px solid #e3e3e3;padding-left: 1rem;font-size: .7rem;}
.g-title:before{content:'';position: absolute;display: block;top: .5rem;left: .5rem;width: .2rem;height: .75rem;background: -webkit-linear-gradient(#8ca7ff, #7569ff); /* Safari 5.1 - 6.0 */background: -o-linear-gradient(#8ca7ff, #7569ff); /* Opera 11.1 - 12.0 */background: -moz-linear-gradient(#8ca7ff, #7569ff); /* Firefox 3.6 - 15 */background: linear-gradient(#8ca7ff, #7569ff); /* 标准的语法 */border-radius: 1rem;overflow: hidden;}
.g-top-fixed{background: #fff;padding: .25rem 0;position: fixed;left: 0;top: 0;width: 100%;z-index: 1;}
.g-top-fixed-row{padding-top: 2.5rem;margin-top: 0;}
.g-no-border-bottom{border-bottom: 0;}

.g-title2{text-align: center;position: relative;margin-bottom: .5rem;font-size: .8rem;} 
.g-title2:before {content: '';display: block;position: absolute;left: 50%;top: .5rem;width: 80%;height: 2px;background: #d8d8d8;margin-left: -40%;} 
.g-title2 span{background: #fff;display: inline-block;position: relative;z-index: 1;padding: 0 .5rem;} 

.g-title .fr{position: absolute; right: 0; top: 0; height: 1.75rem; display: flex; align-items: center; justify-content: center;} 
.g-title .fr .g-btn{margin-left: .25rem;}
/*公用模块*/
/*登录页面*/
#login{padding-bottom: 5rem;}
.login{font-size: .65rem;height:100%;}
.login .top-img-box{position: relative;}
.login .top-img-box img{width: 100%;}
.login .top-img-box .font-box{position: absolute;top: 50%;left: 15px;transform: translateY(-50%);color: #fff;}
.login .top-img-box p{font-size: 1.25rem;}
.login .top-img-box span{font-size: .75rem;}

.login .bottom-img-box{position: fixed;left: 0;bottom: 0;width: 100%;height: 5rem;}
.login .bottom-img-box img{width: 100%;}
.login .bottom-img-box a{box-sizing: border-box;position: absolute;right: .5rem;bottom: .4rem;background: #fff;border-radius: 100%;width: 3rem;height: 3rem;line-height: 3rem;font-size: 1.5rem;text-align: center;color: #ec3b3b;}

.form-login{display: block; margin: 1rem; }
.form-login .form-control{height: 2rem; border-bottom: 1px solid #ddd; width: 100%; font-size: .75rem;color: #666; } 
.form-btn-login{color: #fff;width: 100%;height: 2rem;background: -webkit-linear-gradient(left, #8ca7ff , #7569ff); /* Safari 5.1 - 6.0 */background: -o-linear-gradient(right, #8ca7ff, #7569ff); /* Opera 11.1 - 12.0 */background: -moz-linear-gradient(right, #8ca7ff, #7569ff); /* Firefox 3.6 - 15 */background: linear-gradient(to right, #8ca7ff , #7569ff); /* 标准的语法 */border-radius: 1rem;font-size: .75rem;margin-bottom: .5rem;}
.form-submit-box{margin: 1rem;}
.form-submit-box .f-black{font-size: .7rem;}
/*登录页面*/

/*等级提升*/ 
.levelUp {}
.levelUp .mylevel {position: relative; }
.levelUp .mylevel .font-box {position: absolute; color: #fff; left: 50%; top: 50%; transform: translate(-50%, -50%); font-size: .75rem; }
.levelUp .mylevel img {width: 100%; }
.levelUp .grade {padding: .5rem; -webkit-box-shadow: 0.125rem 0.216506rem 0.6rem rgba(51, 51, 51, 0.2); box-shadow: 0.125rem 0.216506rem 0.6rem rgba(51, 51, 51, 0.2); background: #fff; }
.grade p {font-size: .6rem;text-align: center;margin-bottom: .75rem;}
.grade ul {display: flex; font-size: .75rem; align-items: center; justify-content: center; padding-bottom: .25rem; }
.grade ul li {position: relative;flex: 1;text-align: center;font-size: .6rem;}
.grade ul li .img-box {height: 3rem;margin-bottom: .5rem;}
.grade ul li .img-box img {display: block;margin: 0 auto;width: 2rem;}
.grade ul li.active {position: relative;color: #7d8dfe;}
.grade ul li.active:after {content: '';display: block;position: absolute;left: 50%;bottom: -.8rem;transform: translateX(-50%);width: 0;height: 0;border-width: 0 10px 10px;border-style: solid;border-color: transparent transparent #dcdcdc;} 
.grade ul li.active img {transition: all .5s ease; transform: scale(1.2); } 
.grade ul li:before {content: ''; position: absolute; left: -15%; top: 1.75rem; width: 30%; height: 2px; background: #ebebeb; } 
.grade ul li:first-child:before {display: none; } .levelUp .privilege {font-size: .65rem;padding: .5rem;} 
.levelUp .privilege p {font-size: 12px;margin-bottom: .5rem;} 
.levelUp .privilege .item {} 
.levelUp .privilege .item .list {display: none;} 
.levelUp .privilege .item .list h3 {text-align: center;position: relative;margin-bottom: .5rem;font-size: .8rem;} 
.levelUp .privilege .item .list h3:before {content: '';display: block;position: absolute;left: 50%;top: .5rem;width: 80%;height: 2px;background: #d8d8d8;margin-left: -40%;} 
.levelUp .privilege .item .list h3 span{background: #f7f7f7; display: inline-block; position: relative; z-index: 1; padding: 0 .5rem; } 
.levelUp .privilege .item .list ul {} 
.levelUp .privilege .item .list ul li {margin-bottom: .5rem;border-radius: 6px;overflow: hidden;box-shadow: 0.125rem 0.216506rem 0.6rem rgba(51, 51, 51, 0.1);} 
.levelUp .privilege .item .list ul li a {display: block;background: #fff;padding: .5rem .5rem .5rem 1.6rem;position: relative;} 
.levelUp .privilege .item .list ul li .icon {display: inline-block;width: 1rem;height: 1rem;line-height: 1rem;text-align: center;font-size: 1rem;position: absolute;left: .5rem;top: .5rem;} 
.levelUp .privilege .item .list ul li .icon-gengduo {font-size: .9rem;}
.levelUp .privilege .item .list ul li:last-child{margin-bottom: 0;}

/*经理等级提升弹窗*/
.g-style1{font-size: .7rem;text-align: center;padding: 1rem .5rem;}
.g-style1 .img-box{margin-bottom: .5rem;}
.g-style1 .img-box img{width: 6rem;}
.g-style1 .font-box {line-height: 1.25rem;}
.g-style1 .font-box strong{font-size: .8rem;}
.g-style1 .href{border-top: 1px solid #eee; padding-top: .5rem; margin-top: .5rem; line-height: 1.5rem; }

.g-style2{font-size: .7rem;text-align: center;padding: 1rem .5rem;}
.g-style2 ul{display: flex;}
.g-style2 ul li{flex: 1;}
.g-style2 ul li a{display: block;}
.g-style2 ul li a img{display: block;width: 4rem;margin: 0 auto .5rem;}
.g-style2 ul li a p{color: #69c6f2;}
.g-style2 ul li a span{}


/*微客提升*/
.levelUp-task{font-size: .65rem;} .levelUp-task .state{position: relative;background: #fff;padding: .5rem .5rem 0;} .levelUp-task .border{border-bottom: 1px solid #d9d9d9;padding-bottom: .5rem;} .levelUp-task .task .fr{position: absolute;top: .5rem;right: 0;} .levelUp-task .row{/* border: 1px solid #d9d9d9; */ background: #fff; padding: .5rem 0; } .levelUp-task .row ul{border: 1px solid #d9d9d9; margin: 0 .5rem; border-radius: 6px; padding: .5rem; position: relative; } .levelUp-task .row ul li{margin-top: .5rem;} .levelUp-task .row ul li:first-child{margin-top:0;} .levelUp-task .row ul li:after{content: " "; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } .levelUp-task .row ul li .img-box{float: left;margin-right: .5rem;width: 4rem;} .levelUp-task .row ul li .img-box img{width: 100%;} .levelUp-task .row ul li .font-box{font-size: .6rem;overflow: hidden;height: 4rem;display: table-cell;vertical-align: middle;} .levelUp-task .row ul span{position: absolute; top: 50%; margin-top: -.5rem; left: 65%; } .levelUp-task .g-row img{width: 100%;}
.levelUp-manager{} .levelUp-manager h3{text-align: center; line-height: 1.5rem; } .levelUp-manager p{font-size: 12px; } .levelUp-manager ul{} .levelUp-manager ul li{margin-bottom: .5rem; } .levelUp-manager ul li .g-card{padding: .75rem .5rem;} .levelUp-manager ul li .g-card .top{/* padding-bottom: .5rem; */} .levelUp-manager ul li .g-card .font-box{display: inline-block;width: 70%;vertical-align: top;height: 2.25rem;} .levelUp-manager ul li .g-card .g-btn-border{vertical-align: top;float: right;}.levelUp-manager ul li .g-card .g-btn-border.f-red{font-size: .6rem;padding: 0 .5rem;} .levelUp-manager ul li .g-card .btn{position: absolute;right: -.15rem;bottom: .5rem;width: 5rem;}
/*等级提升*/

/*用户中心*/
.userCenter{}
.userCenter .g-card{padding:0 .5rem .5rem;}
.userCenter .user-info{background: url('../images/userCenter_top.jpg')no-repeat center;/* height: 5rem; */background-size: cover;padding: .5rem .5rem 2rem .5rem;} .userCenter .user-info .head{width: 3rem; height: 3rem; float: left; margin-right: .5rem; overflow: hidden; } .userCenter .user-info .head img{border: 4px solid #aabbff; border-radius: 100%; } .userCenter .user-info .name{float: left;padding: .4rem 0;} .userCenter .user-info .name h3{margin-bottom: .25rem;font-size: .7rem;} .userCenter .user-info .name span{display: inline-block; background: #f9f9fe; padding: .15rem .35rem; border-radius: 0 1rem 1rem 1rem; font-size: .6rem; } .userCenter .user-info .fr a{color: #fff; text-align: center; font-size: .6rem; } .userCenter .user-info .fr a i{display: block;margin: 0 auto;font-size: 2rem;}
.userCenter .income{font-size: .6rem;margin-top: -2rem;padding: .75rem .5rem;margin: -2rem 0.5rem .5rem;} .userCenter .income .icon{margin-right: .5rem; } .userCenter .income .icon img{width: 1.75rem;} .userCenter .income .tx {} .userCenter .income .tx a{position: absolute;right: -.1rem;width: 3.25rem;top: .5rem;}
.userCenter .menu{padding: .5rem 0 0;}
.userCenter .menu li{float: left;width: 33.33%;text-align: center;font-size: .6rem;}
.userCenter .menu li a{display: block;}
.userCenter .menu li a i{display: block;font-size: 1.5rem;height: 2rem;line-height: 1.75rem;}


.sys-footer{font-size: 12px;}
.sys-footer .g-col.active a{color: #5577fe;}
.sys-footer .img-icon{display: block;margin: 0 auto;width: 1.5rem;height: 1.4rem;background: url('../images/icon/icon-footer.png') no-repeat;background-size: 6rem;}
.sys-footer .g-col a{padding: 0;font-size: .6rem}
.sys-footer .img-icon.sr{background-position-x:0;background-position-y:-1.5rem;}
.sys-footer .img-icon.sc{background-position-x:-1.5rem;background-position-y:-1.5rem;}
.sys-footer .img-icon.gk{background-position-x:-3rem;background-position-y:-1.5rem;}
.sys-footer .img-icon.user{background-position-x:-4.4rem;background-position-y:-1.5rem;}
.sys-footer .g-col.active .img-icon.sr{background-position-x:0;background-position-y:0;}
.sys-footer .g-col.active .img-icon.sc{background-position-x:-1.5rem;background-position-y:0;}
.sys-footer .g-col.active .img-icon.gk{background-position-x:-3rem;background-position-y:0;}
.sys-footer .g-col.active .img-icon.user{background-position-x:-4.4rem;background-position-y:0;}
.sys-footer .start a{background: #5a7af6;color: #fff;border-radius: 100%;width: 2.25rem;height: 2.25rem;margin: 0 auto;text-align: center;padding: .2rem 0;font-size: .6rem;box-shadow: inset 0 0 6px 0px rgba(0, 0, 0, 0.6);}
.sys-footer .start.active a{color: #fff;}
/*用户中心*/

.big-banner{position: relative;}
.big-banner img{width: 100%;}

.sharePage{font-size: .65rem;}
.sharePage .user-info{border-bottom: 1px solid #ddd; margin-bottom: .5rem; padding-bottom: .5rem; } 
.sharePage .user-info .img-box{float: left;width: 2rem;margin-right: .5rem;height: 2rem;border-radius: 100%;overflow: hidden;}
.sharePage .user-info .img-box img{width: 100%;pointer-events: initial;} 
.sharePage .user-info .font-box{overflow: hidden;padding-right: 5rem;font-size: .6rem;} 
.sharePage .user-info .font-box p{} 
.sharePage .user-info .font-box span{color: #949494; } 
.sharePage .user-info .g-btn{position: absolute;right: .5rem;top: .75rem;width: 5rem;line-height: 1.25rem;height: 1.25rem;font-size: .6rem;}
.sharePage .text-info{padding-left: 2rem;margin-bottom: .5rem;font-size: .6rem;} 
.sharePage .img-info{padding-left: 2rem;}
.sharePage .img-info img{margin-bottom: .5rem;margin-right: .5rem;pointer-events: inherit;width: 3.5rem;}


/*公用弹窗*/
.modal{position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 1050; display: none; overflow: hidden; -webkit-overflow-scrolling: touch; outline: 0;} 
.fade.in{opacity: 1;} 
.modal.fade .modal-dialog{-webkit-transition: -webkit-transform .3s ease-out;-o-transition: -o-transform .3s ease-out;transition: transform .3s ease-out;-webkit-transform: translate(0,-25%);-ms-transform: translate(0,-25%);-o-transform: translate(0,-25%);transform: translate(0,-25%);} 
.modal.in .modal-dialog{-webkit-transform: translate(0,0);-ms-transform: translate(0,0);-o-transform: translate(0,0);transform: translate(0,-50%);} 
.modal-dialog{position: absolute;left: .5rem;right: .5rem;top: 50%;width: auto;z-index: 11;transform: translateY(-50%);} 
.modal-backdrop{position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 10;background-color: #000;} 
.modal-backdrop.fade{filter: alpha(opacity=0); opacity: 0;}
.modal-backdrop.in{filter: alpha(opacity=50);opacity: .7;} 
.fade{opacity: 0; -webkit-transition: opacity .15s linear; -o-transition: opacity .15s linear; transition: opacity .15s linear;}

.modal .closeModal{color: #fff; font-size: 1.75rem; margin-top: 2rem; position: absolute; left: 50%; width: 2rem; text-align: center; margin-left: -1rem; }
/*公用弹窗*/

/*申请提现*/
.getCash{font-size: .65rem;}
.getCash .big-banner{}
.getCash .big-banner .font-box{position: absolute; top: 50%; left: 50%; color: #fff; transform: translate(-50%,-50%); text-align: center; } 
.getCash .big-banner .font-box p{font-size: .7rem;}
.getCash .big-banner .font-box span{font-size: 1.5rem;}
.getCash .g-card{padding:0 .5rem;}
.getCash .g-card ul{}
.getCash .g-card ul li{font-size: .75rem;line-height: 2rem;border-bottom: 1px solid #e3e3e3;}
.getCash .g-card ul li:last-child{border-bottom:0;}
.getCash .g-card ul li.g-title{padding-left: .5rem;}
.getCash .g-card ul li.g-title:before{top: .6rem;left: 0;}
/*申请提现*/

/*收入明细*/
.incomeDetail{font-size: .65rem;}
.incomeDetail .g-card{padding:0 .5rem;}
.incomeDetail .big-banner{} 
.incomeDetail .big-banner .font-box{position: absolute; left: 0; top: 0; padding: .5rem; color: #fff; height: 100%; width: 100%; } 
.incomeDetail .big-banner .font-box p{font-size: .8rem; line-height: 2rem; } 
.incomeDetail .big-banner .font-box .number{font-size: .7rem; } 
.incomeDetail .big-banner .font-box .number span{font-size: 1.5rem; } 
.incomeDetail .big-banner a{position: absolute;right: .5rem;top: 1rem;color: #fff;background: #4d4b97;padding: .15rem .75rem;border-radius: 1rem;} 
.incomeDetail ul{padding: .5rem 0; } .incomeDetail ul li{position: relative; margin-bottom: .5rem; } .incomeDetail ul li .time{position: absolute; left: 0; top: 0; width: 2rem; text-align: center; } .incomeDetail ul li .time p{} .incomeDetail ul li .time span{color: #bdbdbd; font-size: .55rem; } .incomeDetail ul li .text-box{min-height: 2rem; padding: .5rem 0 .5rem 4rem; position: relative; } .incomeDetail ul li .text-box:before{content:'';position: absolute;left: 2.5rem;top: .4rem;width: 1rem;height: 1rem;background: url('../images/icon/quan.png') no-repeat;background-size: 1rem;z-index: 1;} .incomeDetail ul li .text-box .text{} .incomeDetail ul li .text-box .fr{} .incomeDetail ul li+li:before{content: '';display: block;position: absolute;left: 3rem;top: -1.5rem;width: 1px;height: 100%;background: #ebebeb;}
.incomeDetail ul li:last-child{margin-bottom: 0}
.incomeDetail .money{text-align: center; } .incomeDetail .money .g-col{position: relative;padding: .5rem;} .incomeDetail .money .g-col:before{content: '';display: block;position: absolute;left: 0;top: .6rem;width: 1px;height: .75rem;background: #eee;} .incomeDetail .money .g-col:first-child:before{display: none;} 
.recharge{text-align: center; padding: 1rem .5rem; font-size: .7rem; } .recharge h3{font-size: 1rem; border-bottom: 1px solid #eee; margin-bottom: .5rem; padding-bottom: .5rem; } .recharge .indexLevel{font-size: .7rem; text-align: left; padding: .5rem 0; border-bottom: 1px solid #eee; margin-bottom: .5rem; } .recharge .indexLevel span{} .recharge .font-box{margin-bottom: .5rem; } .recharge .font-box strong{display: block;margin-bottom: .5rem;} .recharge .font-box .input-box{display: inline-block; position: relative; } .recharge .font-box .input-box input{background: #ebebeb;border-radius: 1rem;font-size: .65rem;padding-right: 1.75rem;height: 1.5rem;padding-left: 1rem;width: 7rem;} .recharge .font-box .input-box span{position: absolute; right: 0; top: .3rem; font-size: .65rem; height: 1rem; } .recharge .btn-box{} .recharge .btn-box .g-btn,.recharge .btn-box .g-btn-border{line-height: 1.5rem; height: 1.5rem; padding: 0 1rem; width: auto; }

.incomeDetail ul.detail-ul2{}
.incomeDetail ul.detail-ul2 li{border-bottom: 1px solid #eee;padding-bottom: .5rem;}
.incomeDetail ul.detail-ul2 li+li:before{display: none;}
.incomeDetail ul.detail-ul2 li:last-child{border-bottom: 0;padding-bottom: 0;margin-bottom: 0;}

.incomeDetail ul.detail-ul3{}
.incomeDetail ul.detail-ul3 li{}
.incomeDetail ul.detail-ul3 li .text-box{padding: 0 0 0 4rem; } 
.incomeDetail ul.detail-ul3 li .text-box .fr{position: absolute; top: .5rem; right: 0; } 
.incomeDetail ul.detail-ul3 li .text-box .info{top: 0;}


/*开始赚钱*/
.makeMoney{font-size: .65rem;}
.topLevel{background: #fff;padding: .4rem .5rem;position: absolute;left: 0;top: 0;width: 100%;z-index: 1;height: 2.75rem;} 
.topLevel .img-box{width: 2rem;margin-right: .5rem;height: 2rem;overflow: hidden;border-radius: 100%;} 
.topLevel .img-box img{width: 100%;} 
.topLevel .font-box{float: left;font-size: .65rem;height: 2rem;line-height: 2rem;} 
.topLevel .fr{position: absolute;right: .5rem;top: .85rem;font-size: .55rem;} 
.topLevel .fr i{font-size: .7rem; margin-right: .2rem; }
.topLevel-bottom{padding-top: 3.25rem;margin-top: 0;}

.makeMoney .g-title{border-bottom:0;line-height: 2rem;}
.makeMoney .g-title:before{top: .6rem;}
.makeMoney .g-low{padding-top: 2.75rem;margin-top: 0;}
.makeMoney ul{margin: .25rem .5rem; } .makeMoney ul li{margin-bottom: .5rem;} .makeMoney ul li .g-card{padding: .75rem .5rem; } .makeMoney ul li  .img-box{width: 5rem; margin-right: .5rem; } .makeMoney ul li  .img-box img{width: 100%; } .makeMoney ul li  .font-box{overflow: hidden; } .makeMoney ul li  .font-box strong{display: block; font-weight: normal; font-size: .7rem; margin-bottom: .25rem; } .makeMoney ul li  .font-box p{color: #8a8a8a;margin-bottom: .5rem;font-size: .6rem;} .makeMoney ul li .g-btn-border{padding: 0 .75rem; }

.selectProductShare{font-size: .65rem;}
.selectProductShare .g-card{} 
.selectProductShare .g-card .img-box{float: left; margin-right: .5rem; width: 5rem; height: 5rem; } 
.selectProductShare .g-card .img-box img{width: 100%; } 
.selectProductShare .g-card .font-box{position: relative; font-size: .65rem; overflow: hidden; margin: .25rem 0; height: 4.5rem; } 
.selectProductShare .g-card .font-box h3{font-weight: bold;font-size: .65rem;} 
.selectProductShare .g-card .font-box p{position: absolute; left: 0; bottom: 0;font-size: .55rem; } 
.selectProductShare .g-card a{display: block;}
.selectProductShare .g-card  i{position: absolute; right: 0; top: 50%; transform: translateY(-50%); font-size: 1rem; color: #7e8efe; } 
/*开始赚钱*/

.shareProduct{font-size: .65rem;}
.shareProduct .text-box{margin-bottom: .5rem; } .shareProduct .big-card{margin-bottom: 1rem; } .shareProduct .big-card .img-box{} .shareProduct .big-card .img-box img{width: 100%; } .shareProduct .big-card h3{text-align: center; font-weight: bold; } .shareProduct .g-title2 span{background: #f7f7f7; }
.shareProduct .user-card{padding: .25rem 0;}
.shareProduct .user-card .g-col{position: relative;padding: 0 .5rem;}
.shareProduct .user-card .g-col:before{content: '';display: block;position: absolute;height: 80%;top: 8%;left: 0;width: 1px;background: #eee;}
.shareProduct .user-card .g-col:first-child:before{display: none;}
.shareProduct .user-card .img-box{width: 1.75rem;float: left;margin-right: .25rem;}
.shareProduct .user-card .img-box img{width: 100%;}
.shareProduct .user-card .font-box{overflow: hidden;font-size: .65rem;padding: .75rem 0;}

/*邀请加盟*/
.joinBg{background: url('../images/joinBg.jpg');background-size: cover;}
.join{position: relative;}
.join .join-icon{width: 100%;padding-top: 4rem;}
.join .video-box{position: absolute;top: 13rem;left: 3.9rem;}
.join .video-box video{width: 8.2rem;background: #000;display: block;}
.join .qr-box{position: absolute; top: 15.5rem; left: 0; right: 0; text-align: center; } 
.join .qr-box img{width: 7rem;} 
/*邀请加盟*/
/*加盟注册*/
.joinRegister{font-size: .65rem;}
.joinRegister .top-img-box{position: relative;}
.joinRegister .top-img-box img{width: 100%;}
.joinRegister .top-img-box .font-box{position: absolute;top: 50%;left: 15px;transform: translateY(-50%);color: #fff;}
.joinRegister .top-img-box p{font-size: 1.25rem;}
.joinRegister .top-img-box span{font-size: .75rem;}
.join-form{}
.join-form strong{float: left;width: 3.5rem;text-align: right;text-align-last: justify;}
.join-form .input-box{overflow: hidden;position: relative;}
.join-form .input-box select{width: 100%;font-size: .65rem;height: 1rem;border: 0;margin: 0;padding: 0;background: transparent;padding-right: 1.25rem;}
.join-form .input-box select:focus{outline: none;}
.join-form .input-box input,select{width: 100%;padding-right: 1.25rem;font-size: .65rem;height: 1rem;}
.join-form .input-box .right{position: absolute;right: 0;top: 0;width: 20px;height: 20px;line-height: 20px;text-align: center;} 
.join-form .input-box i.right{color:#a0a1a6;font-size: .75rem;}
.join-form .input-box .f-blue{width: auto;}
.joinRegister .submit-box{text-align: center;position: fixed;bottom: .5rem;left: 0;width: 100%;} 
.joinRegister .submit-box p{margin-bottom: .5rem; } 
.joinRegister .submit-box input{width: 80%; }
/*加盟注册*/

/*收录概况*/
.myIncome{font-size: .65rem;}
.g-big-banner{position: relative;}
.g-big-banner img{width: 100%;}
.g-big-banner .font-box{position: absolute; left: 0; top: 0; padding: .5rem; color: #fff; height: 100%; width: 100%; } 
.g-big-banner .font-box p{font-size: .7rem;line-height: 2rem;} 
.g-big-banner .font-box .number{font-size: .7rem; } 
.g-big-banner .font-box .number span{font-size: 1.25rem;} 
.g-big-banner a{position: absolute;right: .5rem;top: 1rem;color: #fff;background: #4d4b97;padding: .1rem .75rem;border-radius: 1rem;font-size: .6rem;} 

.incomeTab{display: flex; align-items: center; justify-content: center; background: #fff; } 
.incomeTab li{flex: 1;text-align: center;padding: .5rem 0;position: relative;font-size: .65rem;} 
.incomeTab li:before{content: '';position:absolute;left: 0;top: .5rem;height: 1rem;width: 1px;background: #eee;} 
.incomeTab li:first-child:before{display:none;} 
.incomeTab li.active{color: #7d8dfe; } 
.incomeTab li.active:after{left: 0;}
.incomeTab li.active span{position: relative;display: inline-block;}
.incomeTab li.active span:before{content: '';display: block;position: absolute;bottom: -2px;left: 0;width: 100%;height: 2px;background: #7d8dfe;}
.incomeItem .list{display: none;}
.incomeItem ul{margin-left: -.5rem; padding: 0 .5rem; } .incomeItem ul li{padding-left: .5rem; float: left; width: 50%; text-align: center; margin-top: .5rem; } .incomeItem ul li a{display: block;background: #fff;border-radius: 6px;padding: .5rem;font-size: .6rem;position: relative;} .incomeItem ul li img{display: block; margin: .5rem auto; width: 4rem; } 
.incomeItem ul li p{}
.incomeItem ul li .num{position: absolute;right: 1.25rem;top: .5rem;color: #fff;background: red;width: 1rem;height: 1rem;line-height: 1rem;border-radius: 100%;font-size: .6rem;text-align: center;}

 /*收录概况*/

 /*商品提货*/
.getProduct{font-size: .65rem;}
.x-row-addgoods .f-btn{padding:10px 15px;}
.x-row-addgoods .x-col-2{}
.x-row-addgoods .icon-menu{display: inline-block;vertical-align:middle;position:  absolute;left: 0;top: -1.25rem;width: 2rem;height: 2rem;line-height:  2rem;background: #5a7af6;color: #fff;border-radius:  100%;border: .3rem solid #fff;box-sizing: content-box;z-index: 1;}
.x-row-addgoods .icon-menu i{font-size: 1rem;}
.x-row-addgoods .icon-menu span{position: absolute;right: -0.1rem;top: -0.2rem;width: .8rem;height: .8rem;line-height:  .8rem;border-radius:  100%;color: #fff;background: #e7554d;font-size: .5rem;}
.x-row-addgoods .icon-menu:before{content: '';display: block;}
.x-row-addgoods .font-box{text-align: left;font-size: .65rem;padding:0 .5rem 0 2.7rem;line-height: .75rem;position: relative;top: -.5rem;}
.f-small{font-size:  .6rem;transform: scale(.8);}
.x-row-addgoods .font-box .f-small{position:absolute;left: 2.25rem;}
.getProduct .g-big-banner .font-box p{font-size: .65rem;line-height: normal;margin: .75rem 0;}
.getProduct .g-big-banner .font-box .number{font-size: .65rem;}
.getProduct .g-title{background: #fff;}
.getProduct .g-title:before{}
.getProduct .g-card .img-box{float: left; width: 5rem; height: 5rem; margin-right: .5rem; } .getProduct .g-card .img-box img{width: 100%; } .getProduct .g-card .font-box{position: relative; height: 5rem; overflow: hidden; } .getProduct .g-card .font-box h3{font-size: .65rem;font-weight: bold;} .getProduct .g-card .font-box .num{display: inline-block; background: #f4f4f4; color: #969696; padding: .1rem .75rem; border-radius: 1rem; position: absolute; bottom: 1.5rem; } .getProduct .g-card .font-box p{position: absolute; left: 0; bottom: 0; } .getProduct .g-card .font-box i.icon-jiahao{position: absolute; right: 0; bottom: .1rem; width: 1rem; height: 1rem; font-size: 1rem; }

.g-bottom-toggle{display: none;position: fixed;left:  0;right: 0;top: 0;bottom: 0;font-size: .65rem;}
.g-bottom-toggle .g-view{background: #fff;position: absolute;width:  100%;left: 0;bottom: -100%;z-index:  99;border-radius: .8rem .8rem 0 0;padding:.5rem;transition: all 0.5s ease;padding-bottom: 3rem;}
.g-bottom-toggle .g-view .title{line-height:1rem;margin-bottom:0;padding-bottom: .5rem;border-bottom:1px solid #ddd;}
.g-bottom-toggle .g-view i.close{position: absolute;right: 1rem;top: -2rem;color: #fff;width: 1.3rem;height: 1.3rem;text-align:  center;font-size: 1.2rem;}
.g-bottom-toggle .g-view i.close:after{content: '';display: block;position: absolute;top: 1.2rem;left: 0.6rem;width: 2px;height: 1rem;background:  #fff;}
.g-bottom-toggle .product-list{font-size: .6rem;max-height: 10rem;overflow: auto;padding:.5rem 0;}
.g-bottom-toggle .product-list li{align-items: center;justify-content: space-between;margin-bottom:.5rem;padding-bottom: .5rem;border-bottom:1px solid #ddd;}
.g-bottom-toggle .product-list li:last-child{border-bottom:0;padding-bottom: 0;margin-bottom: 0;}
.g-bottom-toggle .product-list .right-fun{}
.g-bottom-toggle .product-list .right-fun input{width: 2rem;text-align: center;font-size: .8rem;}
.g-bottom-toggle .product-list .right-fun i{font-size: .9rem;}
.g-bottom-toggle .product-list .font-box{}
.g-bottom-toggle .product-list .font-box h3{margin-bottom:.5rem;}
.g-bottom-toggle .product-list .font-box span{font-size: .52rem;line-height: 0.7rem;display: inline-block;color: #969696;background: #f4f4f4;padding: .2rem .4rem;border-radius: .5rem;}
.x-row-center{-webkit-box-align: center; -ms-flex-align: center; -moz-align-items: center; align-items: center;} .x-row{    display: -webkit-box; display: -moz-flex; display: -ms-flexbox; display: flex; width: auto;}
 /*商品提货*/

/*公用说明页面*/
.g-img-detail{padding: .5rem;}
.g-img-detail img{width: 100%;}
/*公用说明页面*/

/*待结算订单*/
.order{font-size: .65rem;}
.order .top-info{background: url('../images/userCenter_top.jpg');background-size: cover;color: #fff;} 
.order .top-info li{padding: .75rem 0 .75rem 1.6rem;position: relative;font-size: .55rem;} 
.order .top-info li i{position: absolute; left: .4rem; top: .8rem; font-size: .75rem; width: .75rem; height: .75rem; } 
.order .top-info li:before{content: '';display: block;position: absolute;left: 0;top: .8rem;height: 1rem;width: 1px;background: #8284f0;}
.order .top-info li:first-child:before{display: none;}
.g-tips{background: #fff0d2;padding: .5rem;}
.order .g-card .top{border-bottom: 1px solid #eee; margin-bottom: .5rem; padding-bottom: .5rem; } .order .g-card .top .img-box{float: left;width: 2rem;height: 2rem;margin-right: .5rem;} .order .g-card .top .img-box img{width: 100%;border-radius: 100%;} .order .g-card .top .font-box{overflow: hidden;position: relative;height: 2rem;font-size: .6rem;display: flex;align-items: center;} .order .g-card .top .name{margin-right: .5rem;font-size: .7rem;} 
.order .g-card .top a{} 
.order .g-card .top a img{width: 1.25rem;}
.order .g-card .top .fr{font-size: .6rem; position: absolute; right: 0; top: 50%; transform: translateY(-50%); text-align: right; }
.order .g-card .middle{border-bottom: 1px solid #eee; padding-bottom: .5rem; margin-bottom: .5rem; } .order .g-card .middle li{position: relative;float: left;width: 50%;padding-left: 1.3rem;font-size: 12px;}
.order .g-card .middle li i{position: absolute;left: .4rem;top: .05rem;font-size: .6rem;width: .75rem;height: .75rem;text-align: center;line-height: .75rem;} .order .g-card .middle li:before{content: '';display: block;position: absolute;left: 0;top: 0;width: 1px;height: 1rem;background: #eee;}
.order .g-card .middle li:first-child:before{display: none;}
.order .g-card .bottom{position: relative; height: 1.25rem; line-height: 1.25rem; } .order .g-card .bottom a{position: absolute; right: -.65rem; top: 0; } .order .g-card .bottom a img{width: 5rem; }


/*待结算订单*/
/*销售奖励*/
.salesAward{font-size: .65rem;}
.salesAward .g-big-banner .font-box .data{display: inline-block;font-size: .7rem;background: #f3f6ff;color: #7d8dfe;padding: .2rem .5rem;border-radius: 1rem;margin: .5rem 0;} .salesAward .g-big-banner .font-box p{line-height: normal; font-size: .7rem; }
.salesAward .g-tips{margin-bottom: .5rem;}
.salesAward .g-title span{font-size: .55rem;}
.g-record{padding:0 .5rem;}
.g-record ul{padding: .5rem 0; } 
.g-record ul li{position: relative; margin-bottom: .5rem; } 
.g-record ul li .time{position: absolute; left: 0; top: 0; width: 2rem; text-align: center; } 
.g-record ul li .time p{} 
.g-record ul li .time span{color: #bdbdbd; font-size: .55rem; } 
.g-record ul li .text-box{min-height: 2rem; padding: .5rem 0 .5rem 4rem; position: relative; } 
.g-record ul li .text-box:before{content:'';position: absolute;left: 2.5rem;top: .4rem;width: 1rem;height: 1rem;background: url('../images/icon/quan.png') no-repeat;background-size: 1rem;z-index: 1;} 
.g-record ul li .text-box .text{} 
.g-record ul li .text-box .fr{} 
.g-record ul li+li:before{content: '';display: block;position: absolute;left: 3rem;top: -1.5rem;width: 1px;height: 100%;background: #ebebeb;}
.g-record ul li:last-child{margin-bottom: 0}

  /*销售奖励*/
 /*没数据展示*/
.g-no-data{width: 12rem;text-align: center;margin: 0 auto;padding: 1rem .5rem;} .g-no-data img{width: 6rem; } .g-no-data p{font-size: .7rem; margin: 1rem 0; }

/*我的团队*/
.teamIncome{font-size: .65rem;}
.teamIncome .g-card{padding:0 .5rem;}
.teamIncome .g-top-fixed-row{padding-top: 3.25rem}
.teamIncome .g-title .g-btn-border{padding: 0 .5rem;border-radius: .5rem .5rem 0 .5rem;height: 1.1rem;line-height: 1.1rem;vertical-align: middle;font-size: .6rem;} .teamIncome .g-title .g-btn{display: inline-block;padding: 0 .5rem;width: auto;line-height: 1.1rem;height: 1.1rem;border-radius: .5rem .5rem 0 .5rem;border: 1px solid #ea9ea9;vertical-align: middle;font-size: .6rem;}
.teamIncome .g-card ul{padding: .5rem; } 
.teamIncome .g-card ul li{border-bottom: 1px solid #eee; margin-bottom: .5rem; padding-bottom: .5rem; } 
.teamIncome .g-card ul li:last-child{border-bottom: 0;margin-bottom: 0;padding-bottom: 0;}
.teamIncome .g-card ul li a{display: block;} 
.teamIncome .g-card ul li .img-box{float: left; width: 4rem; margin-right: .5rem; height: 4rem; } 
.teamIncome .g-card ul li .img-box img{width: 100%;} 
.teamIncome .g-card ul li .font-box{overflow: hidden; height: 4rem; line-height: 4rem; } 
.teamIncome .g-card ul li .font-box span{float: right; }

.teamUser{font-size: .65rem;}
.teamUser .team-num{background: #fff;text-align: center;padding: .5rem;font-size: .8rem;margin-bottom: .5rem;}
.teamUser .g-card .top{position: relative; border-bottom: 1px solid #eee; padding-bottom: .5rem; } .teamUser .g-card .top .img-box{width: 2rem;height: 2rem;border-radius: 100%;overflow: hidden;margin-right: .5rem;display: inline-block;vertical-align: middle;} .teamUser .g-card .top .img-box img{width: 100%; } .teamUser .g-card .top  .name{display: inline-block;vertical-align: middle;font-size: .7rem;} .teamUser .g-card .top  a{position: absolute;right: -.7rem;top: .4rem;width: 3rem;} .teamUser .g-card .top a img{width:100%;}
.teamUser .g-card .bottom{font-size: 12px;margin-top: .5rem;} .teamUser .g-card .bottom li{float: left;width: 50%;line-height: 1.25rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}




.g-search{background: #fff; padding: .25rem; position: relative; margin-bottom: .5rem;} 
.g-search input{width: 100%; height: 1.5rem; font-size: .7rem; padding-right: 2rem; padding-left: .5rem; } 
.g-search i.icon-search{position: absolute; right: .4rem; top: .25rem; font-size: 1rem; width: 1.5rem; height: 1.5rem; text-align: center; line-height: 1.5rem; }

.swiper-slide img{width: 100%;pointer-events: inherit;}
.bigGallery{display: none;position: fixed;left: 0;top: 0;width: 100%;height: 100%;z-index: 99;background: #000;}
.bigGallery .swiper-container{top: 50%;-webkit-transform: translate(0,-50%);transform: translate(0,-50%);}
/* .bigGallery .maskSwiper{display: block;background: #000;width:  100%;height: 100%;position:  absolute;top: 0;left: 0;} */
.bigGallery .swiper-pagination{color: #fff;text-align: right;padding: 0 15px;font-size: .65rem;}


/*平台致富*/
#platformJoining{background: url('../images/platformBg.jpg') top;background-size: cover;font-size: .6rem;}
#platformJoining .g-btn{color: #fcf2ac; text-shadow: 0 0 0.5rem #d093f6; } 
#platformJoining .g-row{text-align: center;}
#platformJoining .first{margin: 2rem 0;}
#platformJoining .two{margin-bottom: 2rem; } 
#platformJoining .two a{width: 4rem; }
#platformJoining .three{position: relative; } 
#platformJoining .three img{width: 100%;} 
#platformJoining .three .font-box{position: absolute; top: 4.75rem; left: 2rem; text-align: left; color: #46464e; } 
#platformJoining .three .font-box p{} 
#platformJoining .three .font-box span{margin-left: .25rem;background-image: -webkit-linear-gradient(left, #d4a93f, #fff8b5);-webkit-background-clip: text;-webkit-text-fill-color: transparent;color: #fdee8f;}
#platformJoining .four{position: relative; } 
#platformJoining .four img{width: 100%;}
#platformJoining .four .top{position: absolute;top: 3.75rem;left: 4.75rem;font-size: 0.5rem;color: #e55523;border: 1px solid #e55523;border-radius: 1rem;padding: 0 .5rem;}
#platformJoining .four .product-item{position: absolute;top: 7.25rem;left: 1.5rem;width: 12rem;padding: 0 .75rem;margin-left: -.5rem;}
#platformJoining .four .product-item li{float: left;padding-left: .5rem;width: 50%;padding-bottom: .5rem;}
#platformJoining .four .product-item li a{font-size: .45rem;}
#platformJoining .four .product-item li .img-box{margin-bottom: .25rem; } 
#platformJoining .four .product-item li .img-box img{width: 100%;} 
#platformJoining .four .product-item li .font-box{border-bottom: 1px dashed #e55523;margin-bottom: .25rem;padding-bottom: .25rem;} 
#platformJoining .four .product-item li .font-box h3{} 
#platformJoining .four .product-item li .font-box p{color: #e55523; margin-bottom: .25rem; } 
#platformJoining .four .product-item li .font-box .tag{} 
#platformJoining .four .product-item li .font-box .tag span{display: inline-block; vertical-align: middle; color: #e55523; border: 1px solid #e55523; padding: 0 .25rem; border-radius: 6px; } 
#platformJoining .four .product-item li .detail{height: 1.5rem; line-height: .75rem; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; }

#platformJoining .six{padding: .5rem 2rem;}
#platformJoining .six img{width: 100%;}

#platformJoining .five{}
#platformJoining .five .biaoti{margin-bottom: 1rem; width: 4rem;} 
#platformJoining .five ul{padding-left: 1rem;} 
#platformJoining .five ul li{position: relative; margin-bottom: 1rem; } 
#platformJoining .five ul li .img-box{position: relative; } 
#platformJoining .five ul li .img-box .book{position: absolute; left: -1rem; top: 1.75rem; width: 2rem; } 
#platformJoining .five ul li .img-box .bg{width: 100%;} 
#platformJoining .five ul li .img-box .get{position: absolute; bottom: -.5rem; width: 4rem; left: 3rem; } 
#platformJoining .five ul li .font-box{position: absolute;top: 2rem;left: 1.25rem;font-size: .475rem;z-index: 1;text-align: left;width: 12rem;} 
#platformJoining .five ul li .font-box h3{font-weight: bold; } 
#platformJoining .five ul li .font-box p{color: #46464e; padding-left: 0.5rem; } 
#platformJoining .five ul li .font-box p span{background-image: -webkit-linear-gradient(left, #d4a93f, #fff8b5);-webkit-background-clip: text;-webkit-text-fill-color: transparent;color: #fdee8f;-webkit-text-stroke: .5px #efbf7b;margin: 0 2px;} /*平台致富*/


/*超出1024的处理方式*/
@media (min-width: 1024px){
  .topLevel,.g-fixed{max-width: 1024px;left: 50% !important;margin-left: -512px;}
}

@media (max-width: 320px){
	#platformJoining{overflow-x:hidden;}
	#platformJoining .four img{max-width: inherit;width: 17rem;margin-left: -.75rem;} 
	#platformJoining .four .top{top: 4.25rem; } 
	#platformJoining .four .product-item{width: 13rem; top: 8rem; } 
	#platformJoining .five ul li .img-box .bg{height: 6.25rem;} 
	#platformJoining .five ul li .img-box .book{top: 2.5rem; } }









